<nav class="navbar navbar-expand-md navbar-dark bg-warning">



    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <a class="nav-link" [routerLink]="['/home']" href="#">Home <span class="sr-only">(current)</span></a>
        <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/members']" href="#">Member</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/lists']" href="#">List</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link " [routerLink]="['/message']" href="#">Message</a>
            </li>            
        </ul>
        <div *ngIf="loggedIn()" class=text-light dropdown>
            <a class="nav-link dropdown-toggle" dropdownToggle href="#" data-toggle="dropdown"> 
                Welcome to {{authService.decodedToken.unique_name}}
           </a>
            <div class="dropdown-menu" *dropdownMenu role="menu">
                <a class="dropdown-item" (click)="logOut()" href="#">Log Out</a>
                <a class="dropdown-item" href="#">Another action</a>
            </div>
        </div>

        <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
            <input class="form-control mr-sm-2" type="text" name="username" placeholder="UserName" required [(ngModel)]="model.UserName">
            <input class="form-control mr-sm-2" type="password" name="password" placeholder="Password" required [(ngModel)]="model.password">
            <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
        </form>
    </div>
</nav>